<section class="content center-xs">        
    <titulo titulo="Cadastros"></titulo>
    
    <div class="row col-xs-12 center-xs">
        <a class="lista-cadastro col-md-7 col-xs-9" [routerLink]="['/cadastros/cargo']"><i class="fa fa-list-ul fa-lg"></i> Lista de cargos<span></span></a> 
        <a class="btn-add-cadastro" [routerLink]="['/cadastros/cargo/adicionar']"><i class="fa fa-plus"></i></a>
    </div>
    <div class="row col-xs-12 center-xs">
        <a class="lista-cadastro col-md-7 col-xs-9" [routerLink]="['/cadastros/cliente']"><i class="fa fa-list-ul fa-lg"></i> Lista de cliente<span></span></a>
        <a class="btn-add-cadastro" [routerLink]="['/cadastros/cliente/adicionar']"><i class="fa fa-plus"></i></a>
    </div>
    <div class="row col-xs-12 center-xs">
        <a class="lista-cadastro col-md-7 col-xs-9" [routerLink]="['/cadastros/produto']"><i class="fa fa-list-ul fa-lg"></i> Lista de produtos<span></span></a>
        <a class="btn-add-cadastro" [routerLink]="['/cadastros/produto/adicionar']"><i class="fa fa-plus"></i></a>
    </div>
    <div class="row col-xs-12 center-xs">
        <a class="lista-cadastro col-md-7 col-xs-9" [routerLink]="['/cadastros/colaborador']"><i class="fa fa-list-ul fa-lg"></i> Lista de colaboradores<span></span></a>
        <a class="btn-add-cadastro" [routerLink]="['/cadastros/colaborador/adicionar']"><i class="fa fa-plus"></i></a>
    </div>
    <div class="row col-xs-12 center-xs">
        <a class="lista-cadastro col-md-7 col-xs-9" [routerLink]="['/cadastros/processo']"><i class="fa fa-list-ul fa-lg"></i> Lista de processos<span></span></a>
        <a class="btn-add-cadastro" [routerLink]="['/cadastros/processo/adicionar']"><i class="fa fa-plus"></i></a>
    </div>
    <div class="row col-xs-12 center-xs">
        <a class="lista-cadastro col-md-7 col-xs-9" [routerLink]="['/cadastros/tipo-chamado']"><i class="fa fa-list-ul fa-lg"></i> Lista de tipos de chamado<span></span></a>
        <a class="btn-add-cadastro" [routerLink]="['/cadastros/tipo-chamado/adicionar']"><i class="fa fa-plus"></i></a>
    </div>
</section>