<breadcrumb></breadcrumb>

<section class="table-responsive">
    <div class="table-title"><h4>Lista de processos</h4></div>
    <table>	
        <thead>
            <tr class="lista-header">
                <th>Nome</th>
                <th>Sigla</th>
                <th>Cor</th>
            </tr>
        </thead>
        <tbody>
            <tr class="lista" *ngFor="let processo of processos" [routerLink]="['/cadastros/processo/editar/', processo.codigo]">
                <td>{{processo.nome}}</td>
                <td>{{processo.sigla}}</td>
                <td><i [style.color]="processo.cor" class="fa fa-certificate fa-lg"></i></td>
            </tr>
        </tbody>
    </table>
</section>

<button class="btn-add btn-azul" type="button" [routerLink]="['/cadastros/processo/adicionar']"> <i class="fa fa-plus fa-lg"></i> </button>