<section class="content center-md">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2 center-xs">
        
        <h1><span class="title">Configurações</span></h1>
        
        <form action="#" method="post" accept-charset="utf-8" (submit)="salvar($event)">
            <div class="row start-xs">
                <div class="col-xs-12">
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" placeholder="Email" [(ngModel)]="colaborador.usuario.email"> 
                </div>
                
                <div class="col-xs-6">
                    <label for="senha">Nova senha</label>
                    <input type="password" id="senha" name="senha" placeholder="Senha" [(ngModel)]="colaborador.usuario.senha">
                </div>

                <div class="col-xs-6">
                    <label for="csenha">Confirme sua senha</label>
                    <input type="password" id="csenha" name="csenha" placeholder="Confirmação de Senha" [(ngModel)]="csenha">
                </div>

                <div class="col-xs-12">
                    <button class="btn-fluid btn-azul">salvar</button>
                </div>
            </div>
        </form>
    </div>
</section>

<alerta [alerta]="alerta"></alerta>