<section class="content center-md">
    <div class="col-sm-10 col-sm-offset-1 center-xs">
        
        <titulo titulo="Abertura de chamado"></titulo>
        
        <form action="#" method="post" accept-charset="utf-8" (submit)="salvar($event)">            
            <div class="row col-md-10 col-md-offset-1 start-xs">
                <div class="col-xs-12">
                    <label for="assunto">Assunto</label>
                    <input id="assunto" name="assunto" type="text" placeholder="Assunto" [(ngModel)]="chamado.assunto">
                </div>

                <div class="col-xs-12">
                    <label for="descricao">Descrição</label>
                    <textarea id="descricao" name="descricao" placeholder="Descrição" rows="5" [(ngModel)]="chamado.descricao"></textarea>
                </div>

                <div class="col-xs-12">
                    <label for="prioridade">Prioridade</label>
                    <select id="prioridade" name="prioridade" [(ngModel)]="chamado.prioridade.codigo">
                        <option [value]="chamado.prioridade.codigo == null ? chamado.prioridade.codigo:false">Selecione</option>
                        <option *ngFor="let p of prioridades" [value]="p.codigo">{{p.nome}}</option>
                    </select>
                </div>

                <div class="col-xs-12 end-xs">
                    <button class="btn-azul">Continuar</button>
                </div>
            </div>
        </form>
    </div>
</section>

<alerta [alerta]="alerta"></alerta>